@model DotNetTest.Models.exam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.execution_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.execution_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expire_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expire_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        @if (@Html.DisplayFor(model => model.active).ToString() == "1")
        {
            <dd>hoạt động</dd>
        }
        else
        {
            <dd>Bài thi đã đóng</dd>
        }

        <dt>
            Môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject.name)
        </dd>

        <dt>
            Người tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
